<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
注意：使用mapper代理方法开发，namespace有特殊重要的作用
-->
<mapper namespace="cn.zcc1907.dao.CategoryDao">

  <resultMap id="CategoryResultMap" type="cn.zcc1907.bean.Category" >
   <id column="cid" property="cid" jdbcType="VARCHAR" />
   <result column="cname" property="cname" jdbcType="VARCHAR" />
   <result column="desc" property="desc" jdbcType="VARCHAR" />
   <!-- parent对象也是一个Category对象，该对象里只需设置其cid就行了，该cid也就是二级分类(子类)的pid -->
   <!-- <association column="pid" property="parent" javaType="cn.zcc1907.bean.Category">
   	<result column="pid" property="cid"/>
   </association> -->
   <collection column="cid" property="children" select="cn.zcc1907.dao.CategoryDao.findByParent"/>
  </resultMap>
  
  <select id="load" parameterType="string" resultMap="CategoryResultMap">
  	select *
  	from 
  		t_category 
  	where 
  		cid=#{cid}
  </select>  
  
  <select id="findByParent" parameterType="string" resultMap="CategoryResultMap">
  	select *
  	from 
  		t_category 
  	where 
  		pid=#{cid} 
  </select>
  
  <select id="findParent" resultMap="CategoryResultMap">
  	select * 
  		from t_category 
  		where pid is null 
  </select>
  
</mapper>