<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zcc1907.dao.MenuDao">
		<resultMap type="cn.zcc1907.bean.MenuBean" id="MenuResultMap">
			 <id property="id" column="id" />
			 <result property="text" column="text" />
			 <result property="parent" column="parent" />
			 <result property="path" column="path"/>
			 <collection column="id" property="children" select="cn.zcc1907.dao.MenuDao.findByParent" />
		</resultMap>
	<!-- 根据条件搜索管菜单数据 -->
	<select id="load" parameterType="string"
		resultMap="MenuResultMap">
		select * from menu
				where id=#{id}
	</select>
	
	<!-- 根据父菜单ID查找子菜单 -->
	<select id="findByParent" parameterType="string"
		resultMap="MenuResultMap">
		select * from menu
				where parent=#{id}
	</select>

</mapper>
