<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zcc1907.dao.MenuDao">
		<resultMap type="MenuBean" id="MenuResultMap">
			 <id property="id" column="id" />
			 <result property="text" column="text" />
			 <result property="parent" column="parent" />
			 <result property="path" column="path"/>
			 <collection property="children" column="id" select="cn.zcc1907.dao.MenuDao.selectMenuChildren" />
		</resultMap>
	<!-- 根据条件搜索管菜单数据 -->
	<select id="selectMenuByCondition" parameterType="Map"
		resultMap="MenuResultMap">
		select * from menu
		<where>
			<if test="_parameter!='' and _parameter!=null">
				and id=#{id,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<!-- 根据ID查找子菜单项 -->
	<select id="selectMenuChildren" parameterType="string"
		resultMap="MenuResultMap">
		select * from menu
		<where>
			<if test="_parameter!='' and _parameter!=null">
				and parent = #{id}
			</if>
		</where>
	</select>

</mapper>
