<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zcc1907.dao.ProfessionDao">
	<resultMap type="ProfessionBean" id="ProfessionMap">
		 <id property="id" column="id" />
		 <result property="name" column="name" />
		 <result property="remark" column="remark" />
	</resultMap>
	
	<select id="select" parameterType="ProfessionBean"
		resultMap="ProfessionMap">
		select * from profession
			<where>
				<if test="id!=null and id!=''">
					and id=#{id}  
				</if>
				<if test="name!=null and name!=''">
					and name like '%${name}%'  
				</if>
				<if test="remark!=null and remark!=''">
					and remark like '%${remark}%'  
				</if>
			</where>
	</select>
	
	<insert id="insert" parameterType="ProfessionBean" >
		insert into profession(id,name,remark) 
			values(null,#{name},#{remark});
		<selectKey keyProperty="id" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from profession where id=#{id};
	</delete>
	
	<update id="update" parameterType="ProfessionBean">
		update profession  
			<set>
				<if test="name != null">name=#{name},</if>
				<if test="name != null">remark=#{remark},</if>
			</set>
				where id=#{id};
	</update>
</mapper>