<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zcc1907.dao.UserDao">
	<resultMap type="cn.zcc1907.bean.UserBean" id="UserResultMap">
		 <id property="userId" column="userId" />
		 <result property="userAccount" column="userAccount" />
		 <result property="userName" column="userName" />
		 <result property="password" column="password" />
		 <result property="sex" column="sex" />
		 <result property="email" column="email" />
		 <result property="phone" column="phone" />
		 <result property="useFlag" column="useFlag" />
		 <collection column="userAccount" property="roles" select="cn.zcc1907.dao.RoleDao.selectRoleByUserAccount" />
	</resultMap>
	
	<!-- 根据条件搜索管用户数据 -->
	<select id="selectUserByCondition" parameterType="Map"
		resultMap="UserResultMap">
		select * from user
			<where>
				<if test="userId!=null and userId!=''">
					and userId=#{userId}  
				</if>
				<if test="userAccount!=null and userAccount!=''">
					and userAccount=#{userAccount}  
				</if>
				<if test="password!=null and password!=''">
					and password=#{password} 
				</if>
			</where>
	</select>
	
	<insert id="insertUser" parameterType="UserBean">
		insert into user values(null,#{userAccount},#{userName},#{password},
			#{sex},#{email},#{phone},#{useFlag});
	</insert>
	
	<delete id="delUser" parameterType="Map">
		delete from user where userId=#{userId};
	</delete>
	
	<update id="updateUserById" parameterType="UserBean">
		update user 
			<set>
				<if test="userAccount != null">userAccount=#{userAccount},</if>
				<if test="userName != null">userName=#{userName},</if>
				<if test="password != null">password=#{password},</if>
				<if test="sex != null">sex=#{sex},</if>
				<if test="email != null">email=#{email},</if>
				<if test="phone != null">phone=#{phone},</if>
				<if test="useFlag != null">useFlag=#{useFlag},</if>
			</set>
				where userId=#{userId};
	</update>

</mapper>