<!DOCTYPE html>
<html lang="en">
  <head th:include="index::head">
  </head>
  <body> 
    
    <div class="navbar" th:include="index::navbar"></div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" id="menuSpan" th:include="index::menu"></div>
        	<div class="span9">
            	<h1 class="page-title">Edit User</h1>
				<div class="btn-toolbar">
    				<button id="saveButton" class="btn btn-primary"><i class="icon-save"></i>保存修改</button>
    				<a href="#myModal" id="reset" data-toggle="modal" class="btn">重置</a>
  					<div class="btn-group"></div>
				</div>
				<div class="well">
    				<ul class="nav nav-tabs">
						<li class="active"><a href="#home" data-toggle="tab">个人资料</a></li>
						<li><a href="#profile" data-toggle="tab">口令</a></li>
    				</ul>
    				<div id="myTabContent" class="tab-content center-block">
      					<div class="tab-pane active in" id="home">
    						<form id="userForm" th:action="@{/user/update}" method="post">
						        <label >用户ID</label>
						        <p th:text="${user.userId}" class="form-control-static"></p>
						        
						        <label>账号</label>
						        <input type="text" th:value="${user.userAccount}" 
						        	name="userAccount" class="input-xlarge"/>
						        
						        <label>姓名</label>
						        <input type="text" th:value="${user.userName}" 
						        	name="userName" class="input-xlarge"/>
						        
						        <label>性别</label>
						        <div class="form-group form-inline">
							        <label class="checkbox-inline">男
	    								<input type="radio" name="sex" value="1"
	    									id="male"/>
	  								</label>
	  								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							        <label class="checkbox-inline">女
	    								<input type="radio" name="sex" value="0"
	    									id="femal"/>
	  								</label>
						        </div>
  								<br/>
						        <label>Email</label>
						        <input type="text" th:value="${user.email}" 
						        	name="email" class="input-xlarge"/>
						        
						        <label>电话</label>
						        <input type="text" th:value="${user.phone}" 
						        	name="phone" class="input-xlarge"/>
						        
						        <br/><br/>
						        
						        <div class="form-group form-inline">
							        <label class="checkbox-inline">启用
	    								<input type="radio" name="useFlag" value="1"
	    									id="enable"/>
	  								</label>
	  								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							        <label class="checkbox-inline">停用
	    								<input type="radio" name="useFlag" value="0"
	    								id="disable"/>
	  								</label>
	  								<br/>
	  								<p class="help-block">启用或停用账号</p>
						        </div>
						        <input type="hidden" name="userId" th:value="${user.userId}" />
   							</form>
						</div>
      					<div class="tab-pane fade" id="profile">
    						<form id="passwordForm">
						        <label>原密码</label>
						        <input type="password" class="input-xlarge"
						        	name="opassword"/>
						        <label>新密码</label>
						        <input type="password" class="input-xlarge"
						        	name="password"/>
	        					<div>
	            					<button class="btn btn-primary">更新</button>
	        					</div>
    						</form>
      					</div>
  					</div>
				</div>
			</div>
			<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  				<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    				<h3 id="myModalLabel">Delete Confirmation</h3>
  				</div>
	  			<div class="modal-body">
	    			<p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
	  			</div>
				<div class="modal-footer">
				  <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				  <button class="btn btn-danger" data-dismiss="modal">Delete</button>
				</div>
			</div>
		</div>
	</div>
    
    <footer  th:include="index::footer"></footer>
    <script type="text/javascript" th:src="@{/javascripts/bootstrapValidator.min.js}"></script>
    <script th:inline="javascript">
    	$(function(){
    		/**初始化设置性别和停用启用属性标签**/
    		if([[${user.sex}]]==1){
    			$("#male").attr("checked","checked");
    		}else{
    			$("#female").attr("checked","checked");
    		}
    		if([[${user.useFlag}]]==1){
    			$("#enable").attr("checked","checked");
    		}else{
    			$("#disable").attr("checked","checked");
    		}
    		
    		//保存修改按钮绑定提交表单事件
    		$("#saveButton").click(()=>{
    				var data = $("#userForm").serializeArray();
    				$.post([[@{/user/update}]],data,(result,status)=>{
    					debugger;
    					alert(result)
    					debugger;
    					if(result==='success'){
    						debugger;
    						$('#myModal').text('hahahahahahah');
    						$('#myModal').modal();
    						debugger;
    					}
    				})
    			}
    		)
    		
    	})
    </script>
    
  </body>
</html>


