<!DOCTYPE html>
<html lang="en">
  <head th:include="index::head">
  </head>

  <body> 
    
    <div class="navbar" th:include="index::navbar"></div>
    

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" id="menuSpan" th:include="index::menu"></div>
	        <div class="span9">
	        	<h1 class="page-title">用户信息</h1>
				<div class="btn-toolbar">
				    <button id="newButton" class="btn btn-primary"><i class="icon-plus"></i>新增用户</button>
				    <button class="btn">Import</button>
				    <button class="btn">Export</button>
				  	<div class="btn-group"></div>
				</div>
				<div class="well">
				    <table class="table">
				      <thead>
				        <tr>
				          <th>#</th>
				          <th>账号</th>
				          <th>姓名</th>
				          <th>性别</th>
				          <th>邮箱</th>
				          <th>电话</th>
				          <th>状态</th>
				          <th style="width: 26px;"></th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr th:each="user,stat:${users}">
				          <td th:text="${user.userId}">#</td>
				          <td th:text="${user.userAccount}">账号</td>
				          <td th:text="${user.userName}">姓名</td>
				          <td th:text="${user.sex}">性别</td>
				          <td th:text="${user.email}">邮箱</td>
				          <td th:text="${user.phone}">电话</td>
				          <td th:text="${user.useFlag}">状态</td>
				          <td>
				              <a th:href="@{/user/user?(userId=${user.userId})}"><i class="icon-pencil"></i></a>
				              <a th:href="'javascript:remove(' + ${user.userId} + ')'"
				              id="removeButton" ><i class="icon-remove"></i></a>
				          </td>
				        </tr>
				      </tbody>
				    </table>
				</div>
			
				<div class="pagination">
				    <ul>
				        <li><a th:href="@{/user/users(pageNum=${prePage})}">前一页</a></li>
				        <li th:each="page:${pages}">
				        	<a th:text="${page}" th:href="@{/user/users(pageNum=${page})}">888</a>
				        </li>
				        <li><a th:href="@{/user/users(pageNum=${nextPage})}">下一页</a></li>
				    </ul>
				</div>
			</div>
        </div>
    </div>
    <footer  th:include="index::footer"></footer>
    <script th:inline="javascript">
    	$(function(){
    		$("a").each(function(){//设置页数栏样式
       			if($(this).html()=='[[${pageNum}]]'){
       				$(this).parent().attr("class","active");
       				$(this).attr("href","javascript:");
       			}
    		})
    		
    	})
   		function remove(id) {
   			$.alert({
				title:'',
				content:'<font style="color:red;font-weight:bold">危险操作：</font>确认删除该账号？',
				autoClose: '取消|9000',
				type:'red',
				animation: 'top',
				boxWidth: '300px',
		    	useBootstrap: false,
		    	buttons:{
		    		确认:()=>{
		    			var data = {
		    					[[${_csrf.parameterName}]]:[[${_csrf.token}]],
		    					"id":id
		    			}
		    			$.post([[@{/user/delete}]],data,(result)=>{
		    				if(result=='success'){
		    					alertSuccess("删除成功");
		    				}else if(result=="fail"){
		    					alertFail("删除失败");
		    				}
		    			})
		    		},
		    		取消:{}
		    	}
			});
			return;
   		}
    	
    	$("#newButton").click(()=>{
    		location.href=[[@{/user/toadd}]];
    	})
    </script>
  </body>
</html>


