<!DOCTYPE html>
<html lang="en">
  <head th:include="index::head">
  </head>
  <body> 
    
    <div class="navbar" th:include="index::navbar"></div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" id="menuSpan" th:include="index::menu"></div>
        	<div class="span9">
            	<h1 class="page-title">Edit User</h1>
				<div class="btn-toolbar">
    				<button id="saveButton" class="btn btn-primary"><i class="icon-save"></i>保存</button>
    				<a href="javascript:" id="reset" data-toggle="modal" class="btn">重置</a>
  					<div class="btn-group"></div>
				</div>
				<div class="well">
    				<ul class="nav nav-tabs">
						<li class="active"><a href="#home" data-toggle="tab">用户资料</a></li>
						<li><a href="#profile" data-toggle="tab">登录口令</a></li>
    				</ul>
    				<div id="myTabContent" class="tab-content center-block">
      					<div class="tab-pane active in" id="home">
    						<form id="userForm" th:action="@{/user/update}" method="post">
						        <label >用户ID</label>
						        <p th:text="${user.userId}" class="form-control-static"></p>
						        
						        <label>账号</label>
						        <input type="text" th:value="${user.userAccount}" 
						        	name="userAccount" class="input-xlarge"/>
						        
						        <label>姓名</label>
						        <input type="text" th:value="${user.userName}" 
						        	name="userName" class="input-xlarge"/>
						        
						        <label>性别</label>
						        <div class="form-group form-inline">
							        <label class="checkbox-inline">男
	    								<input type="radio" name="sex" value="1"
	    									id="male"/>
	  								</label>
	  								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							        <label class="checkbox-inline">女
	    								<input type="radio" name="sex" value="0"
	    									id="female"/>
	  								</label>
						        </div>
  								<br/>
						        <label>Email</label>
						        <input type="text" th:value="${user.email}" 
						        	name="email" class="input-xlarge"/>
						        
						        <label>电话</label>
						        <input type="text" th:value="${user.phone}" 
						        	name="phone" class="input-xlarge"/>
						        
						        <br/><br/>
						        
						        <div class="form-group form-inline">
							        <label class="checkbox-inline">启用
	    								<input type="radio" name="useFlag" value="1"
	    									id="enable"/>
	  								</label>
	  								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							        <label class="checkbox-inline">停用
	    								<input type="radio" name="useFlag" value="0"
	    								id="disable"/>
	  								</label>
	  								<br/>
	  								<p class="help-block" style="color:red">启用或停用账号</p>
						        </div>
						        <input type="hidden" name="userId" th:value="${user.userId}" />
   							</form>
						</div>
      					<div class="tab-pane fade" id="profile">
    						<form id="passwordForm">
						        <label>新密码</label>
						        <input type="password" class="input-xlarge"
						        	name="password"/>
						        <label>重复密码</label>
						        <input type="password" class="input-xlarge"
						        	name="repassword"/>
	        					<div>
	            					<a href="javascript:" id="updatePassword" class="btn btn-primary">更新</a>
	        					</div>
    						</form>
      					</div>
  					</div>
				</div>
			</div>
		</div>
	</div>
    
    <footer  th:include="index::footer"></footer>
    <script type="text/javascript" th:src="@{/javascripts/bootstrapValidator.min.js}"></script>
    <script th:inline="javascript">
    	$(function(){
    		/**初始化设置性别和停用启用属性标签**/
    		if([[${user.sex}]]==1){
    			$("#male").attr("checked","checked");
    		}else{
    			$("#female").attr("checked","checked");
    		}
    		if([[${user.useFlag}]]==1){
    			$("#enable").attr("checked","checked");
    		}else{
    			$("#disable").attr("checked","checked");
    		}
    		
    		//保存修改按钮绑定提交表单事件
    		var oldFormData = $("#userForm").serialize();//表单原始数据
    		$("#saveButton").click(()=>{
   				var data = $("#userForm").serializeArray();
   				if(window.location.pathname.indexOf("add")>-1){//判断当前是否进行新增操作
   					$.post([[@{/user/add}]],data,(result)=>{
   						if(result.message=="success"){
   							alertSuccess("新增成功",()=>{
	   							$.alert({
	   								title:'',
	   								content:'<font style="color:red;font-weight:bold">提示：</font>新增账号需要设置密码才能登陆！',
	   								type:'blue',
	   								animation: 'bottom',
	   								boxWidth: '300px',
	   							    useBootstrap: false,
	   							    buttons:{
	   							    	确定:()=>{
	   							    		location.href=[[@{/user/user}]]+'?userId='+result.userId;
	   							    	}
	   							    }
	   							})
   							});
   						}else{
   							alertFail("添加失败");
   						}
   					})
   					return 
   				}
   				if(oldFormData==$("#userForm").serialize()){//用户没有修改数据
   					$.alert({
   						title:'',
   						content:"当前数据没有修改，不能提交操作！",
   						autoClose: '确定|3000',
   						type:'red',
   						animation: 'bottom',
   						boxWidth: '300px',
					    useBootstrap: false,
   					});
   					return;
   				}
   				$.post([[@{/user/update}]],data,(result,status)=>{
   					if(result==='success'){//修改成功
   						$.alert({
   						    title: '',
   						    content: '修改成功',
   						 	autoClose: '确定|3000',
   						    boxWidth: '300px',
   						    type:'green',
   						 	animation: 'rotate',
   						 	typeAnimated: true,
   						    useBootstrap: false,//useBootstrap设为false才能自定义弹框
   						    buttons:{
   						    	确定:()=>{location.reload();}
   						    }
   						});
   					}else{//修改失败
   						$.alert({
   						    title: '',
   						    content: 'Oops！出现了一个问题，修改失败',
   						    type:'red',
   						 	animation: 'bottom',
   						    boxWidth: '300px',
   						    useBootstrap: false,//useBootstrap设为false才能自定义弹框
   						});
   					}
   				})
    		})
    		
    		//重置按钮事件
    		$("#reset").click(()=>{
    			$.confirm({
    				title:'',
    				content:'确定放弃所有更改？',
    				type:'orange',
    				animation: 'top',
   					buttons:{
    					确定:()=>{location.reload();},
    					取消:{}
    				},
    				boxWidth: '300px',
				    useBootstrap: false,
    			})
    		})
    		
    		//更新密码按钮事件
    		$("#updatePassword").click(()=>{
    			var password = $("input[name='password']").val();
    			var repassword = $("input[name='repassword']").val();
    			if(password!=repassword){
    				$.alert({
    					title:'',
   						content:"重复密码不一致，请重新输入！",
   						autoClose: '确定|3000',
   						type:'red',
   						animation: 'bottom',
   						boxWidth: '300px',
					    useBootstrap: false,
    				})
    				return;
    			}
    			$.confirm({
    				title:'',
    				content:'url:form.html',
    				type:'blue',
    				animation: 'top',
        			buttons:{
    					提交:{
    						btnClass:'btn btn-danger',
    						action:submitPasswordForm,
    					},
    					取消:{
    						btnClass:'btn',
    					}
    				},
    				boxWidth: '300px',
				    useBootstrap: false,
    			})
    		})
    		
    	})
    	
    	//提交密码修改表单
    	function submitPasswordForm(){
    		var data = {
    				npassword:$("input[name='password']").val(),
    				opassword:$("input[name='opassword']").val(),
    				uuserAccount:[[${user.userAccount}]],
    				[[${_csrf.parameterName}]]:[[${_csrf.token}]]
    		};
    		$.post([[@{/user/updatePassword}]],data,(result)=>{
    			if(result=='success'){//修改成功
    				alertSuccess("密码修改成功");
    			}else if(result=='fail'){//原密码验证失败
    				alertFail("原密码验证失败");
    				return false;
    			}else{//其他情况
    				alertFail("其他错误");
    				return false;
    			}
    		})
    	}
    </script>
  </body>
</html>


