<!DOCTYPE html>
<html lang="en">
  <head th:include="index::head">
  </head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8"> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body> 
  <!--<![endif]-->
    

    <div class="container-fluid">
        
        <div class="row-fluid">
    <div class="http-error">
        <h1>Oops!</h1>
        <p class="info">服务器报告了一个错误</p>
        <p><i class="icon-home"></i></p>
        <p><a th:href="@{/index}">回到主页</a></p>
    </div>
    </div>
</div>


    

    

    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    
    
    
    
    
    
    
    
    
    
    
    

  </body>
</html>


