<!DOCTYPE html>
<html lang="en">
  <head th:include="index::head">
  </head>

  <body>
    <div class="navbar" th:include="index::navbar"></div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" id="menuSpan" th:include="index::menu"></div>
	        <div class="span9">
	        	<h1 class="page-title">学生信息</h1>
				<div class="btn-toolbar">
				    <button id="newButton" class="btn btn-primary"><i class="icon-plus"></i>新增学生</button>
				    <button class="btn">Import</button>
				    <button class="btn">Export</button>
				  	<div class="btn-group"></div>
				</div>
				<div class="well">
				    <table class="table" data-toggle="table"
				    	th:attr="data-url=@{/student/list}" 
				    	data-show-export="true" 
				    	data-pagination="true" 
       					data-side-pagination="server" 
       					data-page-size="5"
       					data-page-list="[5, 10, 20]">
				      <thead>
				        <tr>
				          <th data-field="sno" data-align="center">学号</th>
				          <th data-field="name" data-align="center">姓名</th>
				          <th data-field="sex" data-align="center">性别</th>
				          <th data-field="birth" data-align="center">出生日期</th>
				          <th data-field="phone" data-align="center">电话</th>
				          <th data-field="email" data-align="center">电子邮箱</th>
				          <th data-field="idnum" data-align="center">身份证号码</th>
				          <th data-field="classId" data-align="center">班级</th>
				          <th data-field="nation" data-align="center">民族</th>
				        </tr>
				      </thead>
				    </table>
				</div>
			</div>
        </div>
    </div>
    <footer  th:include="index::footer"></footer>
    <script th:inline="javascript">
    </script>
    <!-- bootstrap导出数据引用js -->
    <script  th:src="@{/lib/bootstrap-table/extensions/bootstrap-table-export.min.js}" type="text/javascript"></script>
    <script  th:src="@{/lib/bootstrap-table/extensions/tableExport.js}" type="text/javascript"></script>
    
  </body>
</html>


