<!DOCTYPE html>
<html lang="en">
  <head th:include="index::head">
  </head>

  <body>
  <script th:inline="javascript">
  	function optionFormatter(value,row,index){
  		var rowdata = JSON.stringify(row).replace(/"/g, "'");
  		var modiBtn = '<button class="btn btn-info" onclick="modiUser('+rowdata+')">修改</button>';
  		var delBtn = '<button class="btn btn-warning" onclick="delUser('+row.id+')">删除</button>';
  		return modiBtn+'&nbsp;'+delBtn;
  	}
  	
  	function setSno(sno){
  		$('input[name="sno"]').val(sno)
  	}
  	
  	function flagFormatter(value,row,index){
  		if(value==0){
  			return '奖励';
  		}else{
  			return '惩罚';
  		}
  	}
  	
  	function modiUser(row){
  		$.confirm({
  			title:'',
  			content:'url:form.html',
  			type:'blue',
			animation: 'top',
			onContentReady:()=>{
				$('input[name="id"]').val(row.id);
				$('input[name="sno"]').val(row.sno);
				$('input[name="date"]').val(row.date);
				$('textarea[name="record"]').val(row.record);
				var radio = row.flag==0?$('input[name="flag"][value="0"]'):$('input[name="flag"][value="1"]');
				radio.attr('checked','checked');
				$('input[name="place"]').val(row.place);
			},
			buttons:{
				提交:{
					btnClass:'btn btn-danger',
					action:()=>{
						var data = $('#rwdpunishForm').serializeArray();
						$.post([[@{/rwdpunish/update}]],data,(result)=>{
							if(result=='success'){
								alertSuccess('修改成功！');
								$('#tablelist').bootstrapTable('refresh');
							}else{
								alertFail('失败！');
							}
						})
					},
				},
				取消:{
					btnClass:'btn',
				}
			},
			boxWidth: '400px',
		    useBootstrap: false,
  		})
  	}
  	
  	function delUser(id){
  		$.alert({
			title:'',
			content:'<font style="color:red;font-weight:bold">危险操作：</font>确认删除该学生档案？',
			autoClose: '取消|9000',
			type:'red',
			animation: 'top',
			boxWidth: '300px',
	    	useBootstrap: false,
	    	buttons:{
	    		确认:()=>{
	    			var data = {
	    					[[${_csrf.parameterName}]]:[[${_csrf.token}]],
	    					"id":id
	    			}
	    			$.post([[@{/rwdpunish/del}]],data,(result)=>{
	    				if(result=='success'){
	    					alertSuccess("删除成功");
	    					$('#tablelist').bootstrapTable('refresh');
	    				}else if(result=="fail"){
	    					alertFail("删除失败");
	    				}
	    			})
	    		},
	    		取消:{}
	    	}
		});
		return;
  	}
  	$(()=>{
  		$('#newButton').click(()=>{
  			$.confirm({
	  			title:'',
	  			content:'url:form.html',
	  			type:'blue',
				animation: 'top',
				onContentReady:()=>{
					$.getJSON([[@{/student/list}]],{[[${_csrf.parameterName}]]:[[${_csrf.token}]],},(result)=>{
						result.rows.forEach((stu)=>{
							$('select[name="sname"]').append('<option value="'+stu.sno+'">'+stu.name+'</option>');
						})
						$('#stuselect').css('display','block')
						$('.selectpicker').selectpicker('show')
					});
				},
				buttons:{
					提交:{
						btnClass:'btn btn-danger',
						action:()=>{
							$.post([[@{/rwdpunish/add}]],$('#rwdpunishForm').serializeArray(),(result)=>{
								if(result=='success'){
									alertSuccess('新增成功！');
									$('#tablelist').bootstrapTable('refresh');
								}else{
									alertFail('失败！');
								}
							})
						},
					},
					取消:{
						btnClass:'btn',
					}
				},
				boxWidth: '400px',
			    useBootstrap: false,
  			})
  		})
  	})
  </script>
    <div class="navbar" th:include="index::navbar"></div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" id="menuSpan" th:include="index::menu"></div>
	        <div class="span9">
	        	<h1 class="page-title">奖惩记录信息</h1>
				<div class="btn-toolbar">
				    <button id="newButton" class="btn btn-primary"><i class="icon-plus"></i>新增记录</button>
				  	<div class="btn-group"></div>
				</div>
				<div class="well">
				    <table id="tablelist" class="table" data-toggle="table"
				    	th:attr="data-url=@{/rwdpunish/list}" 
				    	data-show-export="true" 
				    	data-pagination="true" 
       					data-side-pagination="server" 
       					data-page-size="5"
       					data-search="true"
       					data-show-refresh="true"
       					data-page-list="[5, 10, 20]">
				      <thead>
				        <tr>
				          <th data-field="id" data-align="center">记录编号</th>
				          <th data-field="sname" data-align="center">姓名</th>
				          <th data-field="date" data-align="center">日期</th>
				          <th data-field="record" data-align="center">内容</th>
				          <th data-field="flag" data-formatter="flagFormatter" data-align="center">奖励/惩罚</th>
				          <th data-field="place" data-align="center">单位/地点</th>
				          <th data-field="" data-formatter="optionFormatter" data-align="center">操作</th>
				        </tr>
				      </thead>
				    </table>
				</div>
			</div>
        </div>
    </div>
    <footer  th:include="index::footer"></footer>
    <script th:inline="javascript">
    </script>
    <!-- bootstrap导出数据引用js -->
    <script  th:src="@{/lib/bootstrap-table/extensions/bootstrap-table-export.min.js}" type="text/javascript"></script>
    <script  th:src="@{/lib/bootstrap-table/extensions/tableExport.js}" type="text/javascript"></script>
    
  </body>
</html>


